@use 'index' as m;

.test {
  @include m.media(null, xs) {
    color: #003001;
  }

  @include m.media($to: sm) {
    color: #003002;
  }

  @include m.media(false, md) {
    color: #003003;
  }

  @include m.media($to: lg) {
    color: #003004;
  }

  @include m.media($to: xl) {
    color: #003005;
  }
}
