@use 'index' as m;

.test {
  @include m.media(xs) {
    color: #002001;
  }

  @include m.media(sm) {
    color: #002002;
  }

  @include m.media(md) {
    color: #002003;
  }

  @include m.media(lg) {
    color: #002004;
  }

  @include m.media(xl) {
    color: #002005;
  }
}
