@media (max-width: 19.999em) {
  .test {
    color: #001001;
  }
}
@media (max-width: 29.999em) {
  .test {
    color: #001002;
  }
}
@media (max-width: 47.999em) {
  .test {
    color: #001003;
  }
}
@media (max-width: 63.999em) {
  .test {
    color: #001004;
  }
}
@media (max-width: 74.999em) {
  .test {
    color: #001005;
  }
}
