@media (min-width: 20em) {
  .test {
    color: #001001;
  }
}
@media (min-width: 30em) {
  .test {
    color: #001002;
  }
}
@media (min-width: 48em) {
  .test {
    color: #001003;
  }
}
@media (min-width: 64em) {
  .test {
    color: #001004;
  }
}
@media (min-width: 75em) {
  .test {
    color: #001005;
  }
}
