@use 'index' as m;

.test {
  @media #{m.from(xs)} {
    color: #001001;
  }
  @media #{m.from(sm)} {
    color: #001002;
  }
  @media #{m.from(md)} {
    color: #001003;
  }
  @media #{m.from(lg)} {
    color: #001004;
  }
  @media #{m.from(xl)} {
    color: #001005;
  }
}
