@media (min-width: 20em) and (max-width: 47.999em) {
  .test {
    color: #001001;
  }
}
@media (min-width: 30em) and (max-width: 63.999em) {
  .test {
    color: #001002;
  }
}
@media (min-width: 48em) and (max-width: 74.999em) {
  .test {
    color: #001003;
  }
}
